# Python
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
app.log

# OS Files
Thumbs.db
.DS_Store

# Distribution
dist/
build/
*.egg-info/
